---
http_interactions:
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/activities?limit=500&user_id=0&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      x-correlation-id:
      - c353fc55-76bf-413a-97aa-8f4b65b761af
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: 9352;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"id":1,"company_id":3408256,"user_id":5206648,"done":false,"type":"call","reference_type":"none","reference_id":null,"due_date":"2018-06-12","due_time":"","duration":"","add_time":"2018-06-07
        08:46:06","marked_as_done_time":"","last_notification_time":null,"last_notification_user_id":null,"notification_language_id":1,"subject":"Call","org_id":2,"person_id":2,"deal_id":2,"active_flag":true,"update_time":"2018-06-07
        08:46:06","update_user_id":null,"gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"note":"","created_by_user_id":5206648,"participants":[{"person_id":2,"primary_flag":true}],"org_name":"Apple","person_name":"Steve
        Jobs","deal_title":"Apple deal","owner_name":"Matt Kozak","person_dropbox_bcc":"saleskick-sandbox@pipedrivemail.com","deal_dropbox_bcc":"saleskick-sandbox+deal2@pipedrivemail.com","assigned_to_user_id":5206648}],"additional_data":{"pagination":{"start":0,"limit":500,"more_items_in_collection":false}},"related_objects":{"user":{"5206648":{"id":5206648,"name":"Matt
        Kozak","email":"matt@saleskick.co","has_pic":true,"pic_hash":"6d20d82bb568e1a91144032018ca0f5f","active_flag":true}},"person":{"2":{"id":2,"name":"Steve
        Jobs","email":[{"value":"","primary":true}],"phone":[{"value":"","primary":true}]}},"organization":{"2":{"id":2,"name":"Apple","people_count":1,"owner_id":5206648,"address":null,"cc_email":"saleskick-sandbox@pipedrivemail.com"}},"deal":{"2":{"id":2,"title":"Apple
        deal","status":"open","value":1000000,"currency":"USD","stage_id":3,"pipeline_id":1}}}}'
      effective_url: https://api-proxy.pipedrive.com/activities?limit=500
  recorded_at: Thu, 07 Jun 2018 09:12:18 GMT
recorded_with: VCR 4.0.0
