---
http_interactions:
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/activityTypes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      x-correlation-id:
      - 3b55796f-6ae0-4d8f-80cb-93e6551a140a
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: 9352;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"id":1,"order_nr":1,"name":"Call","key_string":"call","icon_key":"call","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2018-05-29
        11:59:18","update_time":null},{"id":2,"order_nr":2,"name":"Meeting","key_string":"meeting","icon_key":"meeting","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2018-05-29
        11:59:18","update_time":null},{"id":3,"order_nr":3,"name":"Task","key_string":"task","icon_key":"task","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2018-05-29
        11:59:18","update_time":null},{"id":4,"order_nr":4,"name":"Deadline","key_string":"deadline","icon_key":"deadline","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2018-05-29
        11:59:18","update_time":null},{"id":5,"order_nr":5,"name":"Email","key_string":"email","icon_key":"email","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2018-05-29
        11:59:18","update_time":null},{"id":6,"order_nr":6,"name":"Lunch","key_string":"lunch","icon_key":"lunch","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2018-05-29
        11:59:18","update_time":null}]}'
      effective_url: https://api-proxy.pipedrive.com/activityTypes
  recorded_at: Wed, 06 Jun 2018 15:15:58 GMT
recorded_with: VCR 4.0.0
