---
http_interactions:
- request:
    method: post
    uri: https://oauth.pipedrive.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic Y2xpZW50X2lkOmNsaWVudF9zZWNyZXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-correlation-id:
      - fb7ac69e-4c3c-4bf9-9f16-fa51e03b3b2a
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: 9352;'
    body:
      encoding: UTF-8
      string: '{"access_token":"new_access_token","token_type":"Bearer","expires_in":3599,"refresh_token":"new_refresh_token","scope":"deals:read,activities:read,contacts:read,search:read,users:read,base"}'
      effective_url: https://oauth.pipedrive.com/oauth/token
  recorded_at: Thu, 07 Jun 2018 08:12:52 GMT
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer new_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      x-correlation-id:
      - aef77e01-0b9e-440c-9c0a-2a64d5e1c3d1
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: 9352;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"id":5206648,"name":"Matt Kozak","default_currency":"USD","locale":"en_US","lang":1,"email":"matt@saleskick.co","phone":null,"activated":true,"last_login":"2018-06-06
        12:30:01","created":"2018-05-30 06:09:43","modified":"2018-06-06 12:30:01","signup_flow_variation":null,"has_created_company":false,"is_admin":1,"timezone_name":"Europe\/Warsaw","timezone_offset":"+01:00","active_flag":true,"role_id":1,"icon_url":"https:\/\/d3myhnqlqw2314.cloudfront.net\/profile_120x120_5206648_6d20d82bb568e1a91144032018ca0f5f.jpg","is_you":true}],"additional_data":{"company_id":3408256}}'
      effective_url: https://api-proxy.pipedrive.com/users
  recorded_at: Thu, 07 Jun 2018 08:54:27 GMT
recorded_with: VCR 4.0.0
