---
http_interactions:
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      x-correlation-id:
      - d13059fd-0856-4529-949e-3af9bb1893e8
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: 9352;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"id":5206648,"name":"Matt Kozak","default_currency":"USD","locale":"en_US","lang":1,"email":"matt@saleskick.co","phone":null,"activated":true,"last_login":"2018-06-06
        12:30:01","created":"2018-05-30 06:09:43","modified":"2018-06-06 12:30:01","signup_flow_variation":null,"has_created_company":false,"is_admin":1,"timezone_name":"Europe\/Warsaw","timezone_offset":"+01:00","active_flag":true,"role_id":1,"icon_url":"https:\/\/d3myhnqlqw2314.cloudfront.net\/profile_120x120_5206648_6d20d82bb568e1a91144032018ca0f5f.jpg","is_you":true}],"additional_data":{"company_id":3408256}}'
      effective_url: https://api-proxy.pipedrive.com/users
  recorded_at: Wed, 06 Jun 2018 15:13:07 GMT
recorded_with: VCR 4.0.0
