---
http_interactions:
- request:
    method: post
    uri: https://oauth.pipedrive.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&code=valid_code&redirect_uri=test_redirect_uri
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic Y2xpZW50X2lkOmNsaWVudF9zZWNyZXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-correlation-id:
      - 9268c245-2fa5-4626-bc47-e4a67a5eeef9
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: ffad;'
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":3599,"refresh_token":"refresh_token","scope":"deals:read,activities:read,contacts:read,recents:read,search:read,mail:read,products:read,users:read,base"}'
      effective_url: https://oauth.pipedrive.com/oauth/token
  recorded_at: Tue, 12 Jun 2018 11:01:16 GMT
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      x-correlation-id:
      - be8efd10-ba8e-4c6e-9f6e-9db1c4cd95a8
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: ffad;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":5203678,"name":"Krzysztof Chris Rybka","default_currency":"USD","locale":"en_US","lang":1,"email":"chris@saleskick.co","phone":null,"activated":true,"last_login":"2018-06-12
        10:39:54","created":"2018-05-29 20:02:50","modified":"2018-06-12 10:39:54","signup_flow_variation":"google","has_created_company":true,"is_admin":1,"timezone_name":"Europe\/Warsaw","timezone_offset":"+01:00","active_flag":true,"role_id":1,"icon_url":null,"is_you":true,"company_id":3412845,"company_name":"crazy-test-sandbox","company_domain":"crazy-test-sandbox","language":{"language_code":"en","country_code":"US"}}}'
      effective_url: https://api-proxy.pipedrive.com/users/me
  recorded_at: Tue, 12 Jun 2018 11:01:17 GMT
recorded_with: VCR 4.0.0
