---
http_interactions:
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      x-correlation-id:
      - 4f7c0ac1-ff19-476e-974b-beea74691663
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: ffad;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"id":5206648,"name":"Matt Kozak","default_currency":"USD","locale":"en_US","lang":1,"email":"matt@saleskick.co","phone":null,"activated":true,"last_login":"2018-06-07
        08:45:10","created":"2018-05-30 06:09:43","modified":"2018-06-07 08:45:10","signup_flow_variation":null,"has_created_company":false,"is_admin":1,"timezone_name":"Europe\/Warsaw","timezone_offset":"+01:00","active_flag":true,"role_id":1,"icon_url":"https:\/\/d3myhnqlqw2314.cloudfront.net\/profile_120x120_5206648_6d20d82bb568e1a91144032018ca0f5f.jpg","is_you":true,"company_id":3408256,"company_name":"Saleskick-Sandbox","company_domain":"saleskick-sandbox","language":{"language_code":"en","country_code":"US"}}}'
      effective_url: https://api-proxy.pipedrive.com/users/me
  recorded_at: Tue, 12 Jun 2018 09:24:06 GMT
recorded_with: VCR 4.0.0
