---
http_interactions:
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/deals/timeline?user_id=5323730&start_date=2018-06-19&interval=day&amount=2&field_key=add_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      x-correlation-id:
      - 0ec6b3dd-c16f-4852-b7fe-4528d0533e55
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: ffad;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"success":true,"data":[{"period_start":"2018-06-19 00:00:00","period_end":"2018-06-19
        23:59:59","deals":[],"totals":{"count":0,"values":[],"weighted_values":[],"open_count":0,"open_values":[],"weighted_open_values":[],"won_count":0,"won_values":[]}},{"period_start":"2018-06-20
        00:00:00","period_end":"2018-06-20 23:59:59","deals":[{"id":8,"creator_user_id":5323730,"user_id":5323730,"person_id":null,"org_id":9,"stage_id":1,"title":"sales
        deal","value":22,"currency":"USD","add_time":"2018-06-20 08:59:22","update_time":"2018-06-20
        09:37:22","stage_change_time":null,"active":false,"deleted":false,"status":"won","probability":null,"next_activity_date":null,"next_activity_time":null,"next_activity_id":null,"last_activity_id":null,"last_activity_date":null,"lost_reason":null,"visible_to":"3","close_time":"2018-06-20
        09:37:21","pipeline_id":1,"won_time":"2018-06-20 09:37:21","first_won_time":"2018-06-20
        09:37:21","lost_time":null,"products_count":0,"files_count":0,"notes_count":0,"followers_count":1,"email_messages_count":0,"activities_count":0,"done_activities_count":0,"undone_activities_count":0,"reference_activities_count":0,"participants_count":0,"expected_close_date":null,"last_incoming_mail_time":null,"last_outgoing_mail_time":null,"stage_order_nr":1,"person_name":null,"org_name":"sales","next_activity_subject":null,"next_activity_type":null,"next_activity_duration":null,"next_activity_note":null,"formatted_value":"$22","weighted_value":22,"formatted_weighted_value":"$22","weighted_value_currency":"USD","rotten_time":null,"owner_name":"Adam
        Zapa\u015bnik","cc_email":"adamzapasnik-sandbox+deal8@pipedrivemail.com","org_hidden":false,"person_hidden":false},{"id":9,"creator_user_id":5323730,"user_id":5323730,"person_id":null,"org_id":10,"stage_id":3,"title":"sakee
        deal","value":111,"currency":"USD","add_time":"2018-06-20 08:59:44","update_time":"2018-06-20
        08:59:45","stage_change_time":null,"active":true,"deleted":false,"status":"open","probability":null,"next_activity_date":null,"next_activity_time":null,"next_activity_id":null,"last_activity_id":null,"last_activity_date":null,"lost_reason":null,"visible_to":"3","close_time":null,"pipeline_id":1,"won_time":null,"first_won_time":null,"lost_time":null,"products_count":0,"files_count":0,"notes_count":0,"followers_count":1,"email_messages_count":0,"activities_count":0,"done_activities_count":0,"undone_activities_count":0,"reference_activities_count":0,"participants_count":0,"expected_close_date":null,"last_incoming_mail_time":null,"last_outgoing_mail_time":null,"stage_order_nr":3,"person_name":null,"org_name":"sakee","next_activity_subject":null,"next_activity_type":null,"next_activity_duration":null,"next_activity_note":null,"formatted_value":"$111","weighted_value":111,"formatted_weighted_value":"$111","weighted_value_currency":"USD","rotten_time":null,"owner_name":"Adam
        Zapa\u015bnik","cc_email":"adamzapasnik-sandbox+deal9@pipedrivemail.com","org_hidden":false,"person_hidden":false}],"totals":{"count":2,"values":{"USD":133},"weighted_values":{"USD":133},"open_count":1,"open_values":{"USD":111},"weighted_open_values":{"USD":111},"won_count":1,"won_values":{"USD":22}}}]}'
      effective_url: https://api-proxy.pipedrive.com/deals/timeline?user_id=5323730&start_date=2018-06-19&interval=day&amount=2&field_key=add_time
  recorded_at: Wed, 20 Jun 2018 09:56:35 GMT
recorded_with: VCR 4.0.0
