---
http_interactions:
- request:
    method: get
    uri: https://api-proxy.pipedrive.com/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-correlation-id:
      - 67913f22-9eb8-452a-b45f-5cfa73243f83
      badi:
      - 'Routing: eu-central-1=>eu-central-1; Version: ffad;'
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      x-ratelimit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"status":"ok","success":true,"data":[{"id":22679,"company_id":3486667,"owner_id":5323730,"user_id":5323730,"event_action":"*","event_object":"*","subscription_url":"https://webhook.site/4e61fc8f-276c-49cb-954c-f0e62a8815c3","is_active":1,"add_time":"2018-06-18T09:49:21.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":"2018-06-18T14:23:00.395Z","last_http_status":200,"admin_id":5323730},{"id":22733,"company_id":3486667,"owner_id":5323730,"user_id":5323730,"event_action":"updated","event_object":"activity","subscription_url":"https://webhook.site/4e61fc8f-276c-49cb-954c-f0e62a8815c3","is_active":1,"add_time":"2018-06-18T14:22:38.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":"2018-06-18T14:23:00.374Z","last_http_status":200,"admin_id":5323730}]}'
      effective_url: https://api-proxy.pipedrive.com/webhooks
  recorded_at: Mon, 18 Jun 2018 15:03:26 GMT
recorded_with: VCR 4.0.0
